/* Stylesheet dedicated to the "main_menu" view
   Author(s): Octavian Roman */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.menuContainer {
    -fx-background-color: #dddddd;
}

.headerTitle {
    -fx-font-family: "Montserrat", monospace;
    -fx-font-size: 26px;
}

#usernameLabel {
    -fx-font-family: "Laila", Arial;
    -fx-font-size: 20px;
}

#logoutButton {
    -fx-pref-width: 100px;
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: lightgray;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-text-fill: #000;
    -fx-font-size: 16px;
    -fx-font-family: Arial;
}

#logoutButton:hover {
    -fx-background-color: #92b5be;
    -fx-text-fill: #fff;
}

#logoutButton:pressed {
    -fx-background-color: #228bb6;
    -fx-text-fill: #fff;
}

#rentalsMenu, #motorhomesMenu, #staffMenu {
    -fx-border-width: 3px;
    -fx-border-color: #000;
    -fx-background-color: #fff;
}

#rentalsMenu:hover, #motorhomesMenu:hover, #staffMenu:hover {
    -fx-background-color: #92b5be;
}

.menuItemLabel {
    -fx-font-family: "Montserrat", Arial;
    -fx-font-size: 30px;
}