.menuContainer {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #9a9a9a, #e0e0e0);
}

.headerTitle {
    -fx-font-family: "Montserrat", monospace;
    -fx-font-size: 26px;
}

#usernameLabel {
    -fx-font-family: "Laila", Arial;
    -fx-font-size: 20px;
}

#backButton {
    -fx-pref-width: 100px;
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: lightgray;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-text-fill: #000;
    -fx-font-size: 16px;
    -fx-font-family: Arial;
}

#backButton:hover {
    -fx-background-color: #228bb6;
    -fx-text-fill: #fff;
}

#backButton:pressed {
    -fx-background-color: #146785;
    -fx-text-fill: #fff;
}

.toolbar {
    -fx-background-color: #c9c9c9;
}

#containerParent {
    -fx-background-color: #c9c9c9;
}

.toolFlipper:hover, #add:hover, #options:hover {
    -fx-border-width: 1px;
    -fx-border-color: #000;
}

.toolFlipper:pressed, #add:pressed, #options:pressed {
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-color: #a9a9a9;
}

#options {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
    -fx-border-color: transparent;
    -fx-padding: 0;
}
#options > .arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
#options > .arrow-button > .arrow {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.entity-container {
    -fx-border-width: 2px;
    -fx-border-color: #000;
}

.entity-container:hover {
    -fx-background-color: #e0e0e0;
}


.entity-label-text {
    -fx-font-family: "Laila", Arial;
    -fx-font-size: 16px;
}